h3 {
  font-family: "Copperplate", sans-serif;
  font-size: 4.4rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 2.4rem;
}

h4 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
}

p,
a,
li {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.6;
}

main li {
  margin-left: 2.4rem;
}

a {
  font-weight: 600;
}

p {
  color: #343a40;
  margin-top: 3.2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 6.4rem;
}

.main-nav {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #343a40;
  font-size: 2.2rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #54677e;
}

.logo-link:link,
.logo-link:visited {
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.logo-link:hover,
.logo-link:active {
  opacity: 0.6;
}

.logo {
  height: 7.4rem;
}

/* ******************************************* */

.start-journey-section {
  background-image: url(../img/about-us/main_background.jpg);
  background-size: cover;
  background-position: right;
  padding: 12.8rem 4.8rem;
}

.start-journey-content {
  display: block;
  color: #fff;
  max-width: 86rem;
  padding: 4.8rem;
  background-color: rgba(10, 38, 71, 0.4);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.start-journey-content p {
  color: #fff;
}

/* ******************************************* */

.eric-section {
  display: grid;
  margin: 8.6rem auto;
  gap: 8.6em;
  max-width: 130rem;
  grid-template-columns: 0.4fr 1.6fr;
}

.eric-img-box img {
  width: 100%;
}

.divider {
  border-top: solid 1px;
  max-width: 16rem;
}

.eric-section h3,
.consultants-section p:last-child,
.eric-section p:last-child {
  margin-bottom: 0;
}

footer {
  font-size: 1.6rem;
  height: 3.6rem;
  background-color: #0a2647;
  color: #b6bec8;
  text-align: center;
}

/* ******************************************* */

.consultants-section {
  display: grid;
  margin: 4.8rem auto;
  max-width: 130rem;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 0 50px rgba(44, 44, 44, 0.07);
  /* align-content: center; */
}

.consultants-img-box {
  background-image: url(../img/about-us/team.jpg);
  background-size: cover;
  background-position: center;
}

.consultants-content {
  padding: 4.8rem 2.4rem;
}

/* ******************************************* */

.values {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
  margin: 12.8rem auto;
  max-width: 130rem;
}

.values-box {
  border: #aaa solid 2px;
  padding: 6.4rem;
  background: radial-gradient(circle, #fff 20%, #ddd);
  box-shadow: 0 7px 5px rgba(100, 100, 100, 0.4);
}

.values-box h3 {
  display: inline-block;
  position: relative;
  color: #b20000;
}

.values-box li {
  line-height: 4.8rem;
  margin-left: 4.8rem;
}

.values-box h3::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -0.2rem;
  width: 100%;
  border-bottom: 1px solid #b200004d;
}
