/* 1500px */
@media (max-width: 93em) {
    .start-journey-content {
        max-width: 72rem;
        background-color: #0a2847d9;
    }

    .values {
        padding: 0 6.4rem;
    }

    .values-box {
        padding: 15% 5%;
    }
}

/* 1400px */
@media (max-width: 87.5em) {
    .eric-section {
        padding: 0 6.4rem;
        grid-template-columns: 25rem auto;
    }

    .start-journey-section {
        margin-top: 0;
    }
}

/* 1136px */
@media (max-width: 71em) {
    .start-journey-section {
        padding: 6.4rem 4.8rem;
    }

    .consultants-container {
        grid-template-columns: 1fr;
        margin: 0 auto;
        gap: 4.8rem;
        max-width: 100rem;
    }

    .consultants-img-box {
        min-height: 33vh;
        width: auto;
        margin: 0 5%;
        background-size: cover;
    }

    .consultants-content {
        margin: 0 auto;
        padding: 0 5%;
    }

    .eric-section {
        max-width: 100rem;
        grid-template-columns: 1fr;
        grid-template-rows: 30rem 1fr;
        padding: 0 5%rem;
        margin: 8.6rem auto;
    }

    .eric-img-box img {
        width: 30rem;
    }

    .start-journey-section {
        background-position: left;
    }

    .locations {
        display: none;
    }

    .values {
        padding: 0 3.6rem;
        gap: 3.6rem;
        margin: 8.6rem auto;
    }
}

/* 1010px */
@media (max-width: 63em) {
    .values {
        padding: 0 2.4rem;
        gap: 2.4rem;
    }
}

/* 950px */
@media (max-width: 59em) {
    .values {
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 8.6rem auto;
        gap: 6.4rem;
    }

    .values-box {
        width: 60rem;
        padding: 10% 5%;
    }
}

/* 848px */
@media (max-width: 53em) {
    .eric-section {
        grid-template-columns: 1fr;
        grid-template-rows: 30rem 1fr;
    }

    .eric-img-box img {
        width: 30rem;
    }
}

/* 575px */
@media (max-width: 36em) {
    .consultants-container {
        padding: 3.2rem 0;
    }

    .consultants-img-box {
        min-height: 65vw;
    }

    .start-journey-content {
        padding: 6.4rem 2.2rem;
    }

    .eric-section {
        margin: 3.2rem 2.4rem;
        padding: 0;
    }

    .consultants-section {
        margin-bottom: 3.2rem;
    }

    .consultants-content {
        padding: 0 1.2rem;
    }

    .values {
        padding: 2.4rem 0 6.4rem 0;
        margin: 0 1.2rem;
    }

    .values-box {
        max-width: 50rem;
        width: 100%;
        padding: 4.8rem 3.6rem 4.8rem 0;
    }

    .start-journey-section {
        padding: 6.4rem 1rem;
        background-position: 40%;
    }
}
