/* 1248px */
@media (max-width: 78em) {
    .consulting-groups-section {
        grid-template-columns: repeat(2, 38rem);
    }
}

/* 950px */
@media (max-width: 59em) {
    .consulting-group-member-content {
        width: 100rem;
    }

    .strategy-img-box {
        background-position: 70%;
    }

    .predeal-img-box {
        background-position: 95%;
    }

    .postdeal-img-box {
        background-position: 35%;
    }

    .transformation-img-box {
        background-position: 40%;
    }

    .marketing-img-box {
        background-position: 50%;
    }
}

/* 850px */
@media (max-width: 53.1em) {
    .section-bar {
        grid-template-columns: 1fr;
    }

    .section-bar-subtitle {
        display: none;
    }
}

/* 670px */
@media (max-width: 41.8em) {
    .consulting-groups-section {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .consulting-group-box {
        min-width: 38rem;
    }

    .content-main-list {
        font-size: 2.4rem;
    }

    .content-list {
        margin-left: 1.2rem;
    }

    .strategy-img-box,
    .predeal-img-box,
    .postdeal-img-box,
    .transformation-img-box,
    .marketing-img-box,
    .sales-img-box {
        background-image: none;
    }

    .strategy-content {
        background-color: #071726;
    }

    .predeal-content {
        background-color: #858688;
    }

    .postdeal-content {
        background-color: #bac6e1;
    }

    .transformation-content {
        background-color: #000;
    }

    .marketing-content {
        background-color: #53534b;
    }

    .sales-content {
        background-color: #ff7c06;
    }

    .text-container--65,
    .text-container--60,
    .text-container--55 {
        width: 100%;
    }

    .consulting-group-member-content {
        padding: 8% 6%;
    }
}

/* 544px */
@media (max-width: 34em) {
    .consulting-group-member-content {
        padding: 4.8rem 2.4rem;
    }
}
