/* 1340px */
@media (max-width: 83.7em) {
    .container {
        margin-left: 3.2rem;
        margin-right: 3.2rem;
    }
}

@media (max-width: 78em) {
    .group-title {
        font-size: 1.8rem;
    }

    a {
        font-size: 1.8rem;
    }

    .group-box:link,
    .group-box:visited {
        height: 18rem;
    }
}

/* 1050px */
@media (max-width: 65.6em) {
    .container {
        grid-template-columns: repeat(3, 21rem);
        grid-template-rows: 1fr 1fr;
        row-gap: 6.4rem;
    }

    .group-title {
        font-size: 2.4rem;
    }

    a {
        font-size: 2.2rem;
    }

    #predeal {
        grid-column: 2;
    }

    #postdeal {
        grid-column: 3;
    }
}

/* 980px */
@media (max-width: 61.2em) {
    .container {
        column-gap: 0.2rem;
    }
}

/* 944px */
@media (max-width: 59em) {
    .section-bar {
        grid-template-columns: 0.8fr 1.2fr;
    }

    a,
    .group-title {
        font-size: 2.6rem;
    }

    .group-box:link,
    .group-box:visited {
        height: 22rem;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
        max-width: 75rem;
        margin: 0 auto;
    }
}

/* 660px */
@media (max-width: 41.2em) {
    .section-bar {
        display: flex;
        justify-content: center;
    }

    .section-bar-subtitle {
        display: none;
    }

    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        max-width: 50rem;
        margin: 0 auto;
    }

    #postdeal {
        grid-row: 2;
        grid-column: 1;
    }

    #transformation {
        grid-row: 2;
        grid-column: 2;
    }

    a,
    .group-title {
        font-size: 2.4rem;
    }

    .group-box:link,
    .group-box:visited {
        height: 20rem;
    }
}

/* 460px */
@media (max-width: 28.85em) {
    .group-section {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

/* 370px */
@media (max-width: 23em) {
    .container {
        display: flex;
        flex-direction: column;
        max-width: 24rem;
        margin: 0 auto;
    }

    a {
        font-size: 2.2rem;
    }
}
