* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Cairo", sans-serif;
    color: #212529;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

h3 {
    font-size: 3.2rem;
    letter-spacing: 0;
    margin-top: 1.6rem;
}

h4 {
    font-size: 2.2rem;
    letter-spacing: 1.2px;
    margin-bottom: 0.8rem;
}

p {
    font-size: 2rem;
}

.subsection-content li {
    margin-left: 2.4rem;
    font-size: 2.1rem;
    line-height: 1.6;
}

.page-main-content {
    display: flex;
    flex-direction: column;
    gap: 9.6rem;
}

.page-main-content:last-child {
    margin-bottom: 6.4rem;
}

.subsection-bar {
    display: flex;
    height: 12rem;
    align-items: center;
}

.subsection-bar-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.subsection-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
}

.content-block {
    border-top: 2px solid #000;
    margin-top: 2.4rem;
}

.client-feedback {
    grid-column-start: span 2;
}

.client-feedback h4 {
    margin-bottom: 1.8rem;
}

.feedback-author {
    font-size: 1.8rem;
    font-weight: 700;
}

.img-fx {
    border-radius: 3px;
    box-shadow: 0 1rem 2rem #6363633c;
    height: 11rem;
}

.title-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 12rem;
    z-index: 1000;
}

.bar-container {
    display: flex;
    margin: 0 auto;
    max-width: 130rem;
    height: 12rem;
    align-items: center;
}

.subsection-title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.img-bucket {
    display: flex;
    gap: 1rem;
}

/* COLORS */

.strategy-color {
    background-color: #0b1725;
}

.strategy-color--2 {
    background-color: #232e3b;
}

.predeal-color {
    background-color: #858688;
}

.predeal-color--2 {
    background-color: #aaaaac;
}

.postdeal-color {
    background-color: #b7c7e4;
}

.postdeal-color--2 {
    background-color: #d4ddef;
}

.transformation-color {
    background-color: #030c11;
}

.transformation-color--2 {
    background-color: #1c2429;
}

.marketing-color {
    background-color: #53534b;
}

.marketing-color--2 {
    background-color: #878781;
}

.sales-color {
    background-color: #f07124;
}

.sales-color--2 {
    background-color: #f59c66;
}

.light-font {
    color: #f8f9fa;
}

.dark-font {
    color: #212529;
}
