/* 1136px */
@media (max-width: 71em) {
    .main-nav {
        gap: 2.4rem;
    }
}

/* 950px */
@media (max-width: 59em) {
    html {
        font-size: 50%;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: 2.4rem;
    }
}

/* 848px */
@media (max-width: 55em) {
    .main-nav {
        display: none;
    }

    .mobile-nav .main-nav-link {
        font-size: 2.8rem;
        line-height: 8rem;
    }
}
