/* 1400px */
@media (max-width: 87.5em) {
  html {
    font-size: 50%;
  }
}

/* 1150px */
@media (max-width: 71em) {
  html {
    font-size: 40%;
  }

  .logo {
    height: 9.6rem;
    margin-top: 3.6rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav {
    gap: 2.4rem;
  }
}

/* 760px */
@media (max-width: 47em) {
  .main-nav {
    display: none;
  }
}
