/* 1540px */
@media (max-width: 96.2em) {
    h3 {
        font-size: 3.8rem;
    }

    h4 {
        font-size: 2.2rem;
    }

    p,
    a {
        font-size: 2rem;
    }

    .specialise-img-config {
        height: 50vh;
    }
}

/* 1400px */
@media (max-width: 87.5em) {
    .quotes {
        margin-right: 4%;
    }

    .see-more:link,
    .see-more:visited {
        font-size: 2.8rem;
    }
}

/* 1135px */
@media (max-width: 71em) {
    html {
        font-size: 55%;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: 2.6rem;
    }

    .nav h2 {
        font-size: 4rem;
        line-height: 1.5;
    }

    .see-more-component {
        align-self: self-end;
        margin-bottom: 1.2rem;
    }

    .main-bar-title {
        width: 100%;
    }

    .support-to-executives {
        flex-direction: column;
        justify-content: center;
        margin: 3.2rem 0;
    }

    .support-to-executives h3 {
        font-size: 5.2rem;
        line-height: 1;
        margin-bottom: 2rem;
    }

    .support-to-executives p {
        font-size: 2.6rem;
    }

    .ste-content {
        max-width: 70%;
        padding: 0;
    }

    .ste-img-box {
        display: none;
    }

    .specialise h3 {
        font-size: 5.2rem;
    }

    .specialise-bar {
        text-align: left;
        padding: 0 2.4rem;
        margin-top: 4.8rem;
    }

    .specialise-title {
        width: 100%;
    }

    .specialise-title h2 {
        font-size: 5.6rem;
    }

    .specialise-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .expertise-container {
        margin: 3.6rem 4.8rem;
    }

    .expertise-container p {
        font-size: 2.6rem;
    }

    .expertise-container h4 {
        font-size: 3rem;
    }

    .func-exp-img {
        grid-row: 1;
        height: 50rem;
        background-position: center;
    }

    .sector-exp-img {
        grid-row: 3;
        height: 50rem;
        background-position: center;
    }

    .functional-mobile {
        grid-row: 2;
    }

    .sector-mobile {
        grid-row: 4;
    }
}

/* 880px */
@media (max-width: 55em) {
    .quotes {
        display: flex;
        justify-content: space-between;
        justify-self: start;
        align-self: self-end;
        width: 100%;
        padding: 0 4.8rem 0.6rem 4.8rem;
    }

    .btn-arrd {
        display: none;
    }
}

/* 752px */
@media (max-width: 47em) {
    h2 {
        font-size: 3.6rem;
        line-height: 1.5;
    }

    .expertise-content h4 {
        font-size: 2.6rem;
    }

    .ste-content h3 {
        line-height: 1;
        margin-bottom: 1.6rem;
        font-size: 4.8rem;
    }

    .specialise h3 {
        font-size: 5.2rem;
        line-height: 1.2;
    }

    .specialise-title h2 {
        font-size: 3.8rem;
    }

    .support-to-executives {
        flex-flow: column;
        margin-top: 6.4rem;
        height: auto;
    }

    .ste-content-element {
        margin-bottom: 2.4rem;
    }

    .ste-content-element p,
    .expertise-container p {
        font-size: 2.4rem;
    }

    .ste-content {
        max-width: 80%;
    }

    .specialise {
        height: auto;
    }

    .func-exp-img {
        height: 40rem;
    }

    .sector-exp-img {
        height: 40rem;
    }
}

/* 630px */
@media (max-width: 39.4em) {
    .see-more-component {
        display: none;
    }
}

/* 600px */
@media (max-width: 37.5em) {
    .header {
        padding: 0 3.2rem;
    }

    .quotes {
        flex-flow: column;
        padding: 0 5%;
    }

    .quotes h1 {
        text-align: right;
        font-size: 4.2rem;
        line-height: 1.8;
    }

    .main-bar-content {
        display: none;
    }

    .main-bar-title {
        padding: 0 2rem;
        line-height: 6rem;
    }

    .ste-content h3,
    .specialise h3 {
        font-size: 4.4rem;
    }

    .ste-content-element p,
    .expertise-container p,
    .expertise-content h4 {
        font-size: 2.2rem;
    }

    .expertise-container {
        margin: 2.4rem;
    }

    .expertise-content {
        gap: 2rem;
    }

    .expertise-content h4:first-of-type::after {
        top: 0;
    }

    .expertise-content h4:last-of-type::after {
        bottom: 0;
    }
}
