/* 1400px */
@media (max-width: 87.5em) {
    .quotes {
        margin-right: 4%;
        margin-bottom: 3vw;
    }

    .see-more:link,
    .see-more:visited {
        font-size: 2.8rem;
    }

    .ste-img-box {
        max-width: 40%;
    }

    .ste-img {
        transform: scale(0.8);
    }

    .ste-content {
        max-width: 60%;
    }
}

/* 1280px */
@media (max-width: 80em) {
    .specialise-img-config {
        height: 100%;
    }

    .expertise-container {
        margin: 2.4rem;
    }
}

/* 1135px */
@media (max-width: 60em) {
    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: 2.6rem;
    }

    .nav h2 {
        font-size: 4rem;
        line-height: 1.5;
    }

    .see-more-component {
        align-self: self-end;
        margin-bottom: 1.2rem;
    }

    .main-bar-title {
        width: 100%;
    }

    .support-to-executives {
        flex-direction: column;
        justify-content: center;
        /* margin: 3.2rem 0; */
        height: auto;
    }

    .ste-content {
        max-width: 70%;
        padding: 0;
    }

    .ste-img-box {
        display: none;
    }

    .specialise-bar {
        text-align: left;
        padding: 0 2.4rem;
    }

    .specialise-title {
        width: 100%;
    }

    .specialise-title h2 {
        font-size: 3.8rem;
    }

    .specialise-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .expertise-container {
        margin: 3.6rem 4.8rem;
    }

    .ste-content p,
    .expertise-container p {
        font-size: 2.2rem;
    }

    .expertise-container h4 {
        font-size: 2.6rem;
    }

    .func-exp-img {
        grid-row: 1;
        background-position: center;
    }

    .sector-exp-img {
        grid-row: 3;
    }

    .specialise-img-config {
        min-height: 55vw;
    }

    .functional-mobile {
        grid-row: 2;
    }

    .sector-mobile {
        grid-row: 4;
    }
}

/* 880px */
@media (max-width: 55em) {
    .quotes {
        display: flex;
        justify-content: space-between;
        justify-self: start;
        align-self: self-end;
        width: 100%;
        padding: 0 4.8rem 1rem 4.8rem;
        margin-right: 0;
        margin-bottom: 0;
    }
}

/* 752px */
@media (max-width: 47em) {
    .expertise-content h4 {
        font-size: 2.6rem;
    }

    .ste-content h3 {
        line-height: 1;
        margin-bottom: 1.8rem;
        font-size: 4.8rem;
    }

    .ste-content p {
        margin-bottom: 3.6rem;
    }

    .specialise h3 {
        line-height: 1;
    }

    .support-to-executives {
        flex-flow: column;
        margin-top: 5.4em;
        height: auto;
    }

    .ste-content-element {
        margin-bottom: 2.4rem;
    }

    .ste-content-element p,
    .expertise-container p {
        font-size: 2.4rem;
    }

    .ste-content {
        max-width: 80%;
    }

    .specialise {
        height: auto;
    }
}

/* 630px */
@media (max-width: 39.4em) {
    .see-more-component,
    .btn-arrd {
        display: none;
    }
}

/* 600px */
@media (max-width: 37.5em) {
    .header {
        padding: 0 3.2rem;
    }

    .quotes {
        flex-flow: column;
        padding: 3vw 5vw;
    }

    .quotes h1 {
        text-align: right;
        font-size: 4rem;
        line-height: 1.6;
    }

    .main-bar-content {
        display: none;
    }

    .main-bar-title {
        padding: 0 2rem;
        line-height: 5rem;
    }

    .ste-content {
        max-width: 90%;
    }

    .ste-content h3,
    .specialise h3 {
        font-size: 3.6rem;
    }

    .ste-content-element p,
    .expertise-container p,
    .expertise-content h4 {
        font-size: 2.2rem;
    }

    .expertise-container {
        margin: 2.4rem;
    }

    .expertise-content {
        gap: 2rem;
    }

    .expertise-content h4::after {
        top: 0;
        bottom: 0;
    }

    .expertise-content h4:first-of-type::after {
        top: 0;
    }

    .expertise-content h4:last-of-type::after {
        bottom: 0;
    }
}
